
<%= button_to "Add Question", new_question_path, method: "get", class: "btn btn-info" if session[:user_id] %>

<% @questions.each do |question| %>
<h3><%= link_to question.title, question_path(question) %></h3>
<% end %>