
.navbar-inverse .navbar-brand {
  font-weight: bold;
  font-size: 25px;
}

.navbar-inverse .navbar-nav > li.username > a {
  color: #222;
}

.nav.navbar-right {
  font-weight: bold;
}

.content-container {
  margin: 30px 60px;
}