.question-show-container {
  /*background: lightgreen;*/
  width: 800px;
  float: none;
  margin: 0 auto;
}

.question-points {
  margin-left: 8px;
  font-size: 20px;
}


.answer-points {
  margin-left: 8px;
  font-size: 20px;
}

.comment-text-area {
  width: 100%;
}

.answer-text-area {
  width: 100%;
}

.answers-container {
  margin-top: 50px;
}

.new-question-container {
  margin: 0 auto;
  width: 60%;
}

