.question-show-container {
  /*background: lightgreen;*/
  width: 800px;
  float: none;
  margin: 0 auto;
}

.question-points {
  margin-left: 8px;
  font-size: 20px;
}


.answer-points {
  margin-left: 8px;
  font-size: 20px;
}

.comment-text-area {
  width: 100%;
}

.answer-text-area {
  width: 100%;
}

.answers-container {
  margin-top: 50px;
}

.new-question-container {
  margin: 0 auto;
  width: 60%;
}

.question-all {
  width: 80%;
  margin: 0 auto;
}

.question-stats {
  margin: 5px auto;
  border-bottom: solid gray 1px;
  height: 70px;
}

.question-title {
  font-size: 1.75em;
}

.stat-number {
  font-size: 1.5em;
  text-align: center;
}

.stat-type {
  text-align: center;
}

.question-demo {
  float: right;
}

.question-author {
  color: #c11f0d;
}


