<p>Click a cat to vote:</p>
<div class="vote-buttons">
  <%= form_for @vote, do |f| %>
    <% f.hidden_field :up, value: true %>
    <% f.hidden_field :votable_id, value: votable_id %>
    <% f.hidden_field :votable_type, value: votable_id %>
    <span class="upvote">
      <%= image_tag("upvote.jpg") %>
    </span>
  <% end %>

  <%= form_for @vote, do |f| %>
    <% f.hidden_field :up, value: false %>
    <% f.hidden_field :votable_id, value: votable_id %>
    <% f.hidden_field :votable_type, value: votable_id %>
    <span class="downvote">
      <%= image_tag("downvote.jpg") %>
    </span>
  <% end %>

</div>

