<p>Click a cat to vote:</p>
<div class="vote-buttons">
  <%= form_for @vote do |f| %>
    <% f.hidden_field :up, value: true %>
    <% f.hidden_field :votable_id, value: :votable_id %>
    <% f.hidden_field :votable_type, value: :votable_id %>
    <%= f.submit "", class: "upvote" %>
  <% end %>

  <%= form_for @vote do |f| %>
    <% f.hidden_field :up, value: false %>
    <% f.hidden_field :votable_id, value: :votable_id %>
    <% f.hidden_field :votable_type, value: :votable_id %>
    <%= f.submit "", class: "downvote" %>
  <% end %>

</div>

